* { text-align: center;
font-family: Arial;
color: #3d3d3d;
margin: 0;
padding: 0;}
#Hallo { float: none;
}

#Karte { text-align: center;}
#Joo {text-align: center;}



qw { font-size: 100%;
padding-right: 400px;}
vq{ font-size: 120%}
vq a:hover {color: orangered;}


article { width: 100%;
color: #3d3d3d;;
background-color: #d9d9d9;
padding-top: 10px;
padding-bottom: 10px;

}
article a:hover { color: orangered;}
q1 {font-size: 300%;
padding-right: 200px;}
